/* Black and white class tags, incrementally getting darker */

/* .bw-bg-1 { background-color: #FFFFFF; }
.bw-bg-2 { background-color: #EEEEEE; }
.bw-bg-3 { background-color: #DDDDDD; }
.bw-bg-4 { background-color: #CCCCCC; }
.bw-bg-5 { background-color: #BBBBBB; }
.bw-bg-6 { background-color: #AAAAAA; }
.bw-bg-7 { background-color: #999999; }
.bw-bg-8 { background-color: #888888; }
.bw-bg-9 { background-color: #777777; }
.bw-bg-10 { background-color: #666666; }
.bw-bg-11 { background-color: #555555; }
.bw-bg-12 { background-color: #444444; }
.bw-bg-13 { background-color: #333333; }
.bw-bg-14 { background-color: #222222; }
.bw-bg-15 { background-color: #111111; }
.bw-bg-16 { background-color: #000000; } */

/* .bw-bg-1 { background-color: #FFFFFF; }
.bw-bg-2 { background-color: #DDDDDD; }
.bw-bg-3 { background-color: #BBBBBB; }
.bw-bg-4 { background-color: #999999; }
.bw-bg-5 { background-color: #777777; }
.bw-bg-6 { background-color: #555555; }
.bw-bg-7 { background-color: #333333; }
.bw-bg-8 { background-color: #000000; } */

.bw-bg-1 { background-color: #FFFFFF; }
.bw-bg-2 { background-color: #BBBBBB; }
.bw-bg-3 { background-color: #777777; }
.bw-bg-4 { background-color: #000000; }

/* Black and white class tags, incrementally getting lighter Inverted for alternate color scape */

/* .bw-bg-1 { background-color: #000000; }
.bw-bg-2 { background-color: #111111; }
.bw-bg-3 { background-color: #222222; }
.bw-bg-4 { background-color: #333333; }
.bw-bg-5 { background-color: #444444; }
.bw-bg-6 { background-color: #555555; }
.bw-bg-7 { background-color: #666666; }
.bw-bg-8 { background-color: #777777; }
.bw-bg-9 { background-color: #888888; }
.bw-bg-10 { background-color: #999999; }
.bw-bg-11 { background-color: #AAAAAA; }
.bw-bg-12 { background-color: #BBBBBB; }
.bw-bg-13 { background-color: #CCCCCC; }
.bw-bg-14 { background-color: #DDDDDD; }
.bw-bg-15 { background-color: #EEEEEE; }
.bw-bg-16 { background-color: #FFFFFF; }

.bw-bg-1 { background-color: #000000; }
.bw-bg-2 { background-color: #1A1A1A; }
.bw-bg-3 { background-color: #333333; }
.bw-bg-4 { background-color: #4D4D4D; }
.bw-bg-5 { background-color: #666666; }
.bw-bg-6 { background-color: #808080; }
.bw-bg-7 { background-color: #999999; }
.bw-bg-8 { background-color: #FFFFFF; } */

/* .bw-bg-1 {background-color: #000000;}
.bw-bg-2 {background-color: #404040;}
.bw-bg-3 {background-color: #808080;}
.bw-bg-4 {background-color: #ffffff;} */

.cl-bg-1 {background-color: #ffffff;}
.cl-bg-2 {background-color: #ff0000;}
.cl-bg-3 {background-color: #ff4000;}
.cl-bg-4 {background-color: #ff8000;}
.cl-bg-5 {background-color: #ffbf00;}
.cl-bg-6 {background-color: #ffff00;}
.cl-bg-7 {background-color: #bfff00;}
.cl-bg-8 {background-color: #80ff00;}
.cl-bg-9 {background-color: #40ff00;}
.cl-bg-10 {background-color: #00ff00;}
.cl-bg-11 {background-color: #00ff40;}
.cl-bg-12 {background-color: #00ff80;}
.cl-bg-13 {background-color: #00ffbf;}
.cl-bg-14 {background-color: #00ffff;}
.cl-bg-15 {background-color: #00bfff;}
.cl-bg-16 {background-color: #0080ff;}
.cl-bg-17 {background-color: #0040ff;}
